<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ruby Metaprogramming</title>
<meta name="keywords" content="ruby metaprogramming,ruby programming,metaprogramming" />
<meta name="description" content="RubyLearning.org" />
<style type="text/css">
body {
  margin-left: 12%;
  margin-right: 12%;
  }  
h1 {
  color: #2A1959;
  border-bottom: maroon 2px solid;
  }
h3 {
  color: #474B94;
  }
a:link {
  color:#004E98      /* unvisited link */
  }
a:visited {
color:#00FF00  /* visited link */
  }
a:hover {
  color:#FF00FF  /* mouse over link */
  }
a:active {
  color:#0000FF  /* selected link */
  }
pre {
  border: 1px solid black;
  border-color: #BBB #DDD #DDD #BBB;
  margin : 2em;
  padding : 1em;
  line-height: 1.2;
  background: #EEE;
  overflow: auto;
  }
p.copyright {
  padding: 15px;
  font-size: 10px;
  text-align: center;
  background: #663333:
  }
</style>
<link rel="icon" type="image/ico" href="http://rubylearning.com/images/favicon.ico" />
</head>
<body>
<%= yield %>
</body>
</html>
