<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ruby Metaprogramming</title>
<meta name="keywords" content="ruby metaprogramming,ruby programming,metaprogramming" />
<meta name="description" content="RubyLearning.org" />
<style type="text/css">
body {
  margin-left: 12%;
  margin-right: 12%;
  }  
h1 {
  color: #2A1959;
  border-bottom: maroon 2px solid;
  }
h3 {
  color: #474B94;
  }
a:link {
  color:#004E98      /* unvisited link */
  }
a:visited {
color:#0000FF  /* visited link */
  }
a:hover {
  color:#FF00FF  /* mouse over link */
  }
a:active {
  color:#0000FF  /* selected link */
  }
pre {
  border: 1px solid black;
  border-color: #BBB #DDD #DDD #BBB;
  margin : 2em;
  padding : 1em;
  line-height: 1.2;
  background: #EEE;
  overflow: auto;
  }
.align-right  { 
  text-align: right;
  }
.pre-footer {
  background-color: #FAFAFA;
  padding: 5px; margin-top: 20px;
  font-size: 95%;
  }  
p.copyright {
  padding: 15px;
  font-size: 10px;
  text-align: center;
  border-top: maroon 2px solid;
  background: #663333:
  }
</style>
<link rel="icon" type="image/ico" href="http://rubylearning.com/images/favicon.ico" />
</head>
<body>
<%= yield %>
<p class="copyright"><b>Note</b>: The Ruby Logo is Copyright (c) 2006, Yukihiro Matsumoto. The material in these study notes is drawn primarily from the references mentioned on the last page. Our acknowledgment and thanks to all of them.</p>
</div>
<!-- Hit Tail (Invisible code) -->
<script src="http://13043.hittail.com/mlt.js" type="text/javascript"></script>
<!-- Hit Tail (Invisible code) -->

<!-- Google Analytics code -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-59044-10");
pageTracker._trackPageview();
</script>
<!-- Google Analytics code ends -->
</body>
</html>
